* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;

}

* {
	box-sizing: border-box;
}

.bgimg {	
	background-image: url("images/helexpo.jpg");
	
	height: 100%;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.box {
	/*width: 65%;*/
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	border-radius: 50px;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font: Arial, Helvetica, sans-serif;
	font-weight: 500;
}
	
	
.box input[type="text"] , .box input[type="password"]{
	background: rgb(40,62,62);
	display: block;
	margin: 20px auto;
	width: 250;
	padding: 15px 15px;
	text-align: center;
	border: 4px solid rgb(119, 136, 153);
	border-radius: 30px;
	outline: none;
}

.box input[type="text"]:focus , .box input[type="password"]:focus {
	width: 300px;
}

.box input[type="submit"] {
	background: rgb(40,62,62);
	display: block;
	margin: 20px auto;
	padding: 15px 40px;
	text-align: center;
	border: 4px solid rgb(119, 136, 153);
	border-radius: 30px;
	outline: none;
	cursor: pointer;
}

.box input[type="submit"]:hover {
	border-color: rgb(146, 185, 185);
	background: rgb(146, 185, 185);
}

.title {
	margin: 0px;
	padding: 3%;
	text-align: center;
	background-color: #2c2c2c;
	color: white;
}
	
.btn {
	color: white;
	border: 4px solid rgb(119, 136, 153);
	padding: 34px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	margin: 50px 50px 90px 50px;
	background-color: rgb(40,62,62);
	border-radius: 30px;
	cursor: pointer;
		
}

.btnS {
	color: white;
	border: 4px solid rgb(119, 136, 153);
	padding: 34px 54px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	margin: 50px 50px 90px 50px;
	background-color: rgb(40,62,62);
	border-radius: 30px;
	cursor: pointer;
		
}

.btn:hover {
	border-color: rgb(40,62,62);
	background: rgb(40,62,62);
}

.btnS:hover {
	border-color: rgb(40,62,62);
	background: rgb(40,62,62);
}